header {
    background-color: #110022 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35;
}
/* Inserted flex and VW sizes to ensure compatibility on smaller screens */
 header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 3.5vw;
    color: #110022;
    background-color: turquoise;
    margin: 20px 0px 15px 0;
    padding-left: 35px;
}
/* Text decoration none to be rid of ugly blue styling */
header a {
    text-decoration: none;
    color: lightblue;
}
ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 15px;
    color: lightblue;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px 0px 20px 0px;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

body{
    background-color: #f5f5f5;
}

.hero {
background-image: url("../Assets/wilderness.jpg");
background-size: cover;
height: 200px;
}

.hero h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 1050px;
    padding: 0px 25px;
    background-color: turquoise;
    color: black;
}
section {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    color: darkblue;
    
}

.about-me h2 {
    font-size: 2vw;
    flex: wrap;
    padding: 0px 5px;
    border-right: 3px solid darkblue; 
}

section p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 100px;
    text-align: center;
    font-size: 1.2vw;
    color: black;
}