header {
    background-color: #110022 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 5vw;
    color: #110022;
    background-color: turquoise;
    margin: 20px 0px 15px 0;
    padding-left: 35px;
}

header a {
    text-decoration: none;
    color: lightblue;
}
ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 15px;
    color: lightblue;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px 0px 20px 0px;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}